<div class="columns">

  <aside class="column is-2 aside hero is-fullheight">
    <div>

      <div class="main">
        <div class="title"><span class="icon"><i class="fa fa-star"></i></span>FEATURED CHATS</div>
        <a *ngFor="let chat of chatService.featuredChats" [routerLink]="['/chat', chat.frq]" routerLinkActive="active" class="item">
          <span class="icon"><i class="fa fa-comment"></i></span>
          <span class="name">{{chat.frq | stringify}} </span>
        </a>

      </div>

      <div class="main">
        <div class="title"> <span class="icon"><i class="fa fa-comments"></i></span> ACTIVE CHATS</div>

        <a *ngFor="let chat of chatService.activeChats" [routerLink]="['/chat', chat.frq]" routerLinkActive="active" class="item">
          <span class="icon"><i class="fa fa-comment"></i></span>
          <span class="name">{{chat.frq | stringify}} <b>({{chat.msgList.length}})</b></span>
        </a>

      </div>
    </div>
  </aside>

  <div class="hero column chat-wrapper is-10 is-dark">





    <div class="msg-list " *ngIf="currentChat"  #list [scrollTop]="list.scrollHeight">

      <div class="columns is-mobile" *ngFor="let m of currentChat.msgList">

        <div [ngClass]="{' is-offset-1 me': m.usr == chatService.username}" class="chat-bubble column is-11">
          <p ><b>{{m.usr}}</b>: {{m.msg}} </p>
        </div>
      </div>


    </div>


    <div class="columns chat-bar">
      <div class="column is-10">
        <input (keyup.enter)="send()"  class="input" [(ngModel)] = 'currentMsg'>
      </div>
      <div class="column " style="padding-right: 30px">
        <button class="button is-success is-fullwidth" (click)="send()"  > SEND </button>
      </div>
    </div>

  </div>


</div>

