<div class="columns">

  <aside class="column is-3 aside hero is-fullheight">
    <div>

      <div class="main">
        <div class="title"><span class="icon"><i class="fa fa-star"></i></span>FEATURED CHATS</div>
        <a *ngFor="let chat of chatService.featuredChats" [routerLink]="['/chat', chat.frq]" routerLinkActive="active" class="item">
          <span class="icon"><i class="fa fa-comment"></i></span>
          <span class="name">{{chat.frq | stringify}} </span>
        </a>

      </div>

      <div class="main">
        <div class="title"> <span class="icon"><i class="fa fa-comments"></i></span> ACTIVE CHATS</div>

        <a *ngFor="let chat of chatService.activeChats" [routerLink]="['/chat', chat.frq]" routerLinkActive="active" class="item">
          <span class="icon"><i class="fa fa-comment"></i></span>
          <span class="name">{{chat.frq | stringify}} <b>({{chat.msgList.length}})</b></span>
        </a>

      </div>
    </div>
  </aside>

  <div class="hero column chat-wrapper is-9 is-dark">

    <router-outlet></router-outlet>

  </div>


</div>

