<nav class="nav has-shadow" id="top">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item main-item" routerLink="/home">
        KawaChat 2
      </a>
    </div>
    <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab " routerLink="/home" routerLinkActive="is-active">
        Home
      </a>
      <a class="nav-item is-tab" routerLink="/chat" routerLinkActive="is-active">
        Chats
      </a>


    </div>
  </div>
</nav>
